<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Amatic+SC:400,700|Montserrat|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="/javascripts/jquery-2.2.3.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/typed.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=" + secrets.distanceMatrixKey></script>
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>daytripprr</title>
 </head>
 <body>
  <div class="collapse" id="exCollapsingNavbar">
   <div class="bg-inverse p-a-1">
    <ul class="nav nav-sidebar">
     <a href="/search">
      <i class="fa fa-search fa-3x"></i>
     </a>
     <a href="/profile">
       <i class="fa fa-user fa-3x"></i>
     </a>
     <% if (currentUser) { %>
      <a href="/users/settings"><i class="fa fa-cog fa-3x"></i></a>
     <a href="/users/logout">
      <i class="fa fa-sign-out fa-3x"></i>
     </a>

    <% } %>
  </div>
 </div>
 <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
   &#9776;
  </button>
 </nav>
  <div class="container-fluid">
