<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Amatic+SC:400,700|Montserrat|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="/javascripts/jquery-2.2.3.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/typed.js"></script>
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
   <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>daytripprr</title>
 </head>
 <body id="alternate-body">
  <div class="container-fluid">
