<% include partials/header %>
<div id="about-logo">
 <div class="text-right">
</div>
 <center>
  <h1 id="logo2"></h1>
  <div id="about-text">
  <p id="abt">daytripprr is an app that encourages you to take all those trips you've talked about. Try it out <a href="/search">here</a>
   Questions?  <a href="mailto:daytripprrapp@gmail.com">Hit us up!</a>
  </p>
 </div>
  <center>
   <a class="btn btn-signup btn-primary" href="/users/login">Log in!</a>
  <a class="btn btn-blue btn-success" href="/users/signup">Sign Up!</a>
 </center>
 </center>
</div>

<% include partials/footer %>
