<% include partials/homeabout %>
<div id="about-logo">
 <h1 id="logo2"></h1>
</div>

<div id="about-content">

<p>Hi, and welcome to Daytripprr! We're here to help you keep your daytrips accessible, organized, and top of mind. <br>

 <br>Daytripprr was born when a group of like-minded folks realized we spent a lot of time talking about the trips we'd like to take, but less time remembering and actualizing them. How much easier would it be if all of the trips we wanted to take were stored in one place? Then, when the miracle of unexpected free time appeared, we'd be able to hop on our list, figure out which trip fit our time availability, and GOGOGOGOGO!<br>

 <br>So, welcome to Daytripprr! Go ahead and do a search for somewhere you'd like to go. We'll tell you how long it'll take, hotel availability (for when those days turn into nights), and some stuff you could do! If it looks like a winner, save it to your profile for later. Once you're done with a trip, mark it as complete and we'll save that for prosperity.<br>

 <br>Questions? Features you'd like? Just want to say hi? Hit us up at daytripprr@gmail.com. Thanks for stopping by!

</div>

<% include partials/footer %>
