<% include ./partials/homeabout %>
<div id="landing">
  <center>
   <img src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png" class="sun"/>
   <h1 id="logo">daytripprr</h1>
   <h4>are we there yet?</h4>
   <a href="/about"> Learn more</a>

 </center>

 </div>
</div>
</div>
<% include ./partials/footer %>
