<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Amatic+SC:400,700|Montserrat' rel='stylesheet' type='text/css'>
  <script src="/javascripts/jquery-2.2.3.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>daytripprr</title>
 </head>
 <body>
<div id="landing">
  <center>
   <img src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png" class="sun"/>
   <h1 id="logo">daytripprr</h1>
   <h4>are we there yet?</h4>
 </center>
 <div id="about">
 </div>
 <a href="/users/login">Take me to the login page!</a>
 <a href="/users/signup">Take me to the signup page!</a>
</div>
<% include ./partials/footer %>
