<% include ./partials/header %>
<div id="landing">
  <center>
   <img src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png" class="sun"/>
   <h1 id="logo">daytripprr</h1>
 </center>
 <div class="container">
  <div class="row">
   <div class="col-sm-6">
   </div>
   <div class="col-sm-6">
   </div>
  </div>
 </div>
</div>
<% include ./partials/footer %>
