<% include ./partials/homeabout %>
<div id="landing">
  <center>
   <img src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png" class="sun"/>
   <h1 id="logo">daytripprr</h1>
   <h4>are we there yet?</h4>
 </center>
 <div id="about">
 </div>
 <div class="row">
  <div class="login-btn col-sm-6">
  <a href="/users/login" class="text-xs-right btn btn-success">Take me to the login page!</a>
 </div>
  <div class="col-sm-6">
  <a href="/users/signup" class="btn btn-primary">Take me to the signup page!</a>
 </div>
 </div>
</div>
</div>
<% include ./partials/footer %>
