<% include ./partials/header %>
<div id="landing">
  <center>
   <img src="http://images.clipartpanda.com/sun-transparent-background-sun_strong_bold_T.png" class="sun"/>
   <h1 id="logo">daytripprr</h1>
   <h4>are we there yet?</h4>
 </center>
 <div id="about">
 </div>
 <a href="/search">Take me to searches!</a>
 <a href="/saved">Take me to my saved trips!</a>
 <a href="/login">Take me to the login page!</a>
 <a href="signup">Take me to the signup page!</a>

</div>
<% include ./partials/footer %>
