<% include ./partials/header %>
<div id="login">
 <div class="card">
  <div class="card-block">
   <h1 class="login-heading">login</h1>
   <form action="/users/login" method="post">
    <div class="form-group form-group-lg">
     <input type="text" class="form-control form-control-lg form-control-custom" placeholder="enter email" name="email">
    </div>
    <div class="form-group">
     <input type="password" class="form-control-lg form-control form-control-custom" placeholder="what's your password?"name="password">
    </div>
    <input type="submit" value="let's go" class="btn btn-primary btn-block btn-lg"></input>
   </form>
   <hr>
    <p>Don't already have an account?<a href="/users/signup"> Sign Up!</a></p>
   </div>
  </div>
 </div>
<% include ./partials/footer %>
