<% include ./partials/header %>

<div id="login">
 <div class="card">
  <div class="card-block">
   <h1 class="login-heading">login</h1>
   <form action="/users/login" method="post">
    <div class="form-group">
     <label>email</label>
     <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
     <label>password</label>
     <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" value="let's go" class="btn btn-primary btn-block btn-lg"></input>
   </form>
   <hr>
    <p>Don't already have an account?<a href="/users/signup"> Sign Up!</a></p>
   </div>
  </div>
 </div>

<% include ./partials/footer %>
