<% include ./partials/header %>
 <div class="row">
  <div class="col-sm-3 user-profile">
   <img class="img-fluid user-profile-img img-circle" src="https://pbs.twimg.com/profile_images/717341141079891968/HDGumCyR.jpg">
   <div id="info">
   <h4 id="name"><%= user.local.username %></h4>
    <p><%= user.local.currentcity %>, <%= user.local.currentstate %></p>
    <i class="fa fa-cog fa-3x"></i>
   </div>
 </div>
 <div class="col-sm-9">
 </div>
</div>
<% include ./partials/footer %>
