<% include ./partials/header %>
 <div class="row">
  <div class="col-sm-2 user-profile">
   <img class="img-fluid user-profile-img img-circle" src="https://pbs.twimg.com/profile_images/717341141079891968/HDGumCyR.jpg">
   <div id="info">
   <h4 id="name">Zolon</h4>
    <p>Austin Tx</p>
    <i class="fa fa-cog fa-3x"></i>
   </div>
 </div>
  <div class="col-sm-10">

  </div>

</div>
<% include ./partials/footer %>
