
<% include ./partials/header %>
<h1> List all your saved trips</h1>

<a href='/'>Take me home!</a>
<a href="/:id">Take me to a specific trip</a>
<a href="/search">Take me to search!</a>
<% include ./partials/footer %>
