<% include ./partials/header %>
<h1>Search page!</h1>

<a href="/">Take me home!</a>
<a href="/saved">Take me to my saved trips!</a>
<a href="login">Take me to the login page!</a>
<a href="signup">Take me to the signup page!</a>

<% include ./partials/footer %>
