<% include ./partials/header %>

<h1>Search page!</h1>
<div class="form-group">
 <input id="destination" name="destination" type="text" class="form-control" placeholder="EX: Joshua Tree">
 <input type="submit" id="search" class="btn btn-primary btn-search" value="go">
</div>

<p id="test"></p>


<% include ./partials/footer %>
