<% include ./partials/header %>
<h1>Where do you want to go?</h1>
 <div class="form-group">
  <div class="input-group">
  <input id="destination" name="destination" type="text" class="form-control" placeholder="EX: Joshua Tree">
  <span class="input-group-btn">
   <input type="submit" id="search" class="btn btn-primary" value="go">
  </span>
 </div>
 <div id="result"></div>
<% include ./partials/footer %>
