<% include ./partials/header %>

   <h1>Where do you want to go?</h1>
    <div class="form-group">
     <div class="input-group search-input">
     <input id="origin" name="origin" type="text" class="form-control" placeholder="EX: San Francisco, CA">
     <input id="destination" name="destination" type="text" class="form-control" placeholder="EX: Joshua Tree">
      <input type="submit" id="out_search" class="btn btn-primary btn-block" value="go">
    </div>
   </div>

    <div id="result"></div>
 </div>

<% include ./partials/footer %>
