<% include ./partials/header %>

<h1>Search page!</h1>
<div class="form-group">
 <input name="destination" type="text" class="form-control" placeholder="EX: Joshua Tree">
 <input type="submit" class="btn btn-primary" value="go">
</div>



<% include ./partials/footer %>
