<% include ./partials/header %>
<h1>Show specific trips</h1>

<a href="/">Take me home!</a>
<a href="/saved">Take me to all my saved trips!</a>
<a href="/search">Take me to the search!</a>

<% include ./partials/footer %>
