@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);



	a:hover{
		color:#999;
	}


.wrap{
	max-width: 600px;
	margin:150px auto;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}
