body {
 margin: 0 auto;
 padding: 0 auto;
}
#landing {
 background: #03232E;
 background-size: cover;
 height: 100vh;
}

#logo {
 margin-top: 20px;
 font-size: 15em;
 text-align: center;
 font-family: 'Amatic SC', cursive;
}
.sun {
 width: 200px;
 margin-top: 20px;
}
#land-foot {
 background-color: white;
 height: 100px;
}
.container-fluid {
 padding: 0;
}
