/* universal */
body {
font-family: 'Open Sans', serif;
}

.container-fluid {
 padding: 0;
}
h1,h2,h3,h5,h6 {
 font-family: Montserrat, sans-serif;
 font-weight: 700;
 text-transform: uppercase
}
.list-group {
 margin-top: 2%;
}
.main-container {
 margin-top: 80px;
 background-color: white;
 font-family: 'Open Sans', serif;
}


.saved-heading {
 text-align: center;
 padding: 20px;
 color: #9B9B9B;
}
.nav-item {
 text-transform: uppercase;
 font-family: 'Montserrat',serif;
 padding-top: 25px;
}
.navbar-brand {
 font-family: 'Amatic SC', cursive;
 color: white;
}
.logotype {
 font-family: 'Amatic SC',cursive;
}
.prof-info {
 font-family: 'Open Sans', serif;
 font-size: 1.5em;
 text-align: right;
}
.round {
 border-radius: 50%;
 width: 100%;
}

#info {
 text-align: center;

}
#name,#city {
 margin-right: 10px;
}

/* landing */

#landing {
 background: #03232E;
 background-size: cover;
 height: 100vh;
}
.btn {
 margin-top: 1%;
}

.form-control-custom {
 border-top: none;
 border-left: none;
 border-right: none;
 border-radius: 0%;
}

.card-block {
 text-align: center;
 padding-bottom: 40px;
}
#login, #signup, #settings {
 margin-top: 50px;
 width: 80%;
 margin: 40px auto;
 font-family: 'Open Sans', serif;
}
#signup {
 padding-top: 30px;
}
#settings {
 margin-top: 30px;
 width: 80%;
}
.card {
 margin: 0 auto;
 width: 90%;
}
.map-card {
 margin-top: 30px;
}
.btn {
 text-transform: uppercase;
}

.settings-heading, .login-heading {
 margin-top: 10px;
 text-align: center;
 text-transform: uppercase;
 font-size: 1.5em;
 color: #50E3C2;
}
#settings-hr {
 color: #50E3C2;
 width: 120px;
 margin: 0 auto;
 height: 3px;
 border: none;
 border-radius: 2px;
}
hr {
 border: none;
 height: 1px;/* old IE */
 background-color: #50E3C2;
}
#logo,#logo2 {
 font-size: 15em;
 text-align: center;
 font-family: 'Amatic SC', cursive;
 color: white;
}
#logo2 {
 padding-top: 0px;
}
#theImg {
 width: 200px;
}
.login-card {
 height: 70vh;
}
.login-card-block {
 padding-top: 50px;
}

#completed-trips {
 width: 100%;
}
h4 {
 font-size: 2.3em;
 font-family: 'Montserrat', serif;
}
.sun {
 width: 16%;
 margin-top: 20px;
}
#land-foot {
 background-color: white;
 height: 100px;
}

.text-right {
 text-align: right;
}
#completed-trips {
 background-color: #eeeeee !important;
 height: 100%;
 width: 100%;
}
#completed-trips-content {
 width: 80%;
 margin-top: 30px;
}

/* about */

#about-logo {
 background-color: #50E3C2;
 height: 100vh;
}
#about-content {
 background-color: #eeeeee;
 height: 100%;
}
#about {
 text-align: center;
 font-size: 4em;
 text-transform: uppercase;
 font-family: 'Montserrat', serif;
}
.img-compass {
 width: 70%;
 margin: 90px auto;
}
.about-text {
 margin-top: 40px;
}
#abt {
 margin-left: 10px;
 font-family: 'Open Sans', serif;
 color: white;
}

.btn-blue {
 background-color: #ADD8E6;
 border-color: #ADD8E6;
 width: 20%;
}
.btn-blue:hover {
 background-color: #48ccae;
 border-color: #48ccae;
}

.btn-signup {
 width: 20%;
 text-align: center;
}
.btn-signup:hover {
 background-color: #ADD8E6;
 border-color: #ADD8E6;
}

.btn-info {
 border-radius: 5px;
 padding: 5px 40px 5px 40px;
 margin-bottom: 2%;
}
/* sidebar */
a:hover {
 color: #d3d3d3;
 text-decoration: none;
}
.mountain {
 width: 60px;
}
#search-page {
 padding-top: 30px;
 padding-bottom: 30px;
}
.fa-cog {
 color: white;
}
#side-logo {
 text-align: center;
 font-family: 'Amatic SC', cursive;
 font-size: 40px;
}
.login-btn {
 text-align: right;
}


#login {
 width: 85%;
 margin: 100px auto;
}

.user-profile {
 background-color: #50E3C2;
 color: white;
 height: 80%;
 font-family: 'Lato', serif;
 font-size: 20px;
 margin: 0 auto;
 padding-top: 10px;
 text-align: center;
}

#complete-button,#delete {
 background-color: transparent;
 border: none;
}

#completed-trips-content,#trips {
 width: 80%;
 margin-left: 10%;
}

#trips {
 padding: 2em 0;
}
.user-profile-img {
 width: 12%;
 margin: 0 auto;
 margin-top: 10px;

}
.settings-link {
 margin-top: -30px;
 font-size: .7em;
 color: white;
 text-transform: uppercase;
}

.btn-primary {
 background-color: #48ccae;
 border-color: #48ccae;
}
.btn-primary:hover {
 background: #96EEDA;
 border-color: #96EEDA
}
.custom-card {
 height: 100vh;
 text-align: left;
}

iframe {
 margin: 0 auto;
 width: 100%;
}


.fa-cog {
 margin-top: 6px;
}


#search-form {
 text-align: center;
 width: 100%;
}
#search-page {
 background-color: #50E3C2;
}

.search-head {
 text-align: center;
 text-transform: uppercase;
 color: white;
}
.card {
 margin-top: 2%;
}

.navbar-brand {
 font-size: 2.5em;
 color: white !important;
}

.nav-link {
 color: white !important;
}

.bg-faded {
 background-color: #50E3C2;
}
.navbar {
 border-bottom: none;
}
.nav {
 display: inline-block;
}




#search-content {
 text-align: center;
}
.form-group {
 margin: 0;
 padding: 0;
}


.save-trip {
 text-align: center;
 font-family: 'Open Sans', serif;
 font-size: 1em;
}
.navbar-toggler {
 color: white;
}

@media screen and (max-width: 1000px) {
 #name {
  font-size: 1.8em;
 }

}
@media screen and (max-width: 950px) {
 #name {
  font-size: 1.5em;
 }
 .btn-info {
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-bottom: 2%;
 }
 .card {
  width: 100%;
 }
 .main-container {
  margin-top: 50px;

 }
 #logo2 {
  padding-top: 80px;
  font-size: 4em;
 }
 #abt {
  margin-top: 100px;
 }
 .btn-signup {
  width: 120px;
 }
 #about-content {
  height: 1000px;
 }
 .btn-blue, .btn-signup {
  width: 80%;
 }

}

@media screen and (max-width:800px) {
 .nav-item,.nav-link {
  font-style: .1em
 }
 .logout {
  text-align: center;
 }
}

@media screen and (max-width: 320px) {
 p {
  font-size: .8em;
 }
}
